.profile {
    margin-top: 40px;
    max-width: 400px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #808080;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding: 4px;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    background-color: #f0f0f0;
    margin-top: 15px;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.tag {
    color: #808080;
    font-weight: 600;
}

.location {
    color: #808080;
    font-weight: 600;
}

.stats {
    display: flex;
    background-color: #f4f4f4;
    width: 100%;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    padding-inline-start: 0px;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 0;
}

.label {
    color: #808080;
    font-weight: 600;
}

.quantity {
    font-size: 16px;
    font-weight: 800;
}