body{
background: #141272;
margin:auto;
}
#root{
    display:flex;
    padding: 100px;
    justify-content: center;
    gap:5px;
}
button {
    width: 90px;
    height: 60px;
    background: linear-gradient(to bottom, #00a78e, #141272);
    font-size: 20px;
    color: #e0e0e0;
    border: none;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button:hover,
button:focus {
    background: linear-gradient(to bottom, #141272, #00a78e);
}